










.page2-right-top .my-info{
	background-color: #fff;
	width: 7rem;
	box-shadow: 0 0 3px #999;
	margin-bottom: 0.15rem;
}
.page2-right-top .my-info p{
	float: none;
	padding:0.2rem 0.2rem;
}
.page2-right-top .fa-user{
	font-size: 0.3rem;
	color:#0005FF;
	padding-left: 0.2rem;
	padding-top: 0.2rem;
}
.page2-right-top .my-info span{
	font-size: 0.22rem;
	margin-left: 0.15rem;
	line-height: 0.72rem;
	font-weight: 600;
}






















#container .page2-content {
	width: 7.5rem;
	float: left;
	margin-top: 0.2rem;
}

#container .page2-content  .page2-right-top{

	margin-left: 0.2rem;
}

#container .page2-content .page2-title{
	width: 7rem;
	background-color: #fff;
	box-shadow: 0 0 3px #999;
	float: left;
	margin: 0 auto;
}
#container .page2-content .page2-title>p{
	font-size: 0.2rem;
	text-align: center;
	margin: 0.1rem auto;
	float: none;

}













#myHtml{
	left: 0.9rem;
}







@keyframes myHTML-a {

	0% {
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
	}
	100% {
		transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
	}
}
@keyframes myHTML-b {

	0% {
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
	}
	100% {
		transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
	}
}
@keyframes myHTML-c {

	0% {
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
	}
	100% {
		transform: rotate(310deg);
		-ms-transform: rotate(310deg);
		-webkit-transform: rotate(310deg);
		-o-transform: rotate(310deg);
		-moz-transform: rotate(310deg);
	}
}




